@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl
  }
  h2 {
    @apply text-3xl
  } 
  h3 {
    @apply text-2xl
  }
  h4 {
    @apply text-xl
  }
  p{
    @apply text-sm text-default-text
  }

  form {
    @apply rounded-xl p-4
  }
  label {
    @apply mt-4
  }
  input, select, textarea {
    @apply m-1 rounded bg-card p-1
  }

}

@layer components {
  .icon {
    @apply text-default-text text-xl;
  }
  .btn {
    @apply hover:no-underline tracking-wider w-full text-center text-nav font-bold cursor-pointer uppercase px-4 py-2 rounded-md transition-colors block
  }
  .btn-blu {
    @apply  bg-blu-accent hover:bg-blu-accent-hover text-blu-text
  }
  .btn-grn {
    @apply  bg-grn-accent hover:bg-grn-accent-hover text-grn-text
  }
  .btn-red {
    @apply  bg-grn-accent hover:bg-grn-accent-hover text-grn-text
  }
  
}

.btn-grn {
  border: 1px solid #00ff00;

}

.btn-red {
  color: #f6d1d1;
  background-color: #f10d0d53;
  border: 1px solid #ff0000;
}

.btn-red:hover {
  color: #ff4646;
  background-color: #ff818157;
  border: 1px solid #ff0000;
}

.edit-overlay::before {
  content: '👆';
}

.edit-overlay:hover::before{
  content: 'Edit 👆';
}

.edit-overlay {
  font-weight: bold;
  position:absolute;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.edit-overlay:hover {
  font-size: 24px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.448);
  backdrop-filter: blur(2px);
  border-radius: 7px;
}



.loading-container {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  animation: rotate 2s linear infinite;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #3498db;
  margin: 2px;
  border-radius: 100%;
  position: absolute;
}

.dot1 {
  left: 20px;
  top: 0;
  animation-delay: -1s;
}

.dot2 {
  left: 20px;
  top: 20px;
  animation-delay: -0.5s;
}

@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}




:root {
  --color-modal-primary: #8e1b1be3;
}

.modal__confirm-delete {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.638);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  color: white;
}

.modal__confirm-delete--space-close {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
}

.modal__confirm-delete--modal-content {
  position: relative;
  z-index: 999;
  animation-name: animateModal;
  animation-duration: 0.3s;
}

.modal__confirm-delete--header {
  background-color: var(--color-modal-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



.btn--close-modal {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.modal__confirm-delete--body {
  background-color: rgba(0, 0, 0, 0.703);
  padding: 40px;
}

.modal__confirm-delete--footer {
  background-color: var(--color-modal-primary);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem;
}

.modal__confirm-delete--footer h2 {
  margin: 0;
}

.modal__confirm-delete--btn-wrap {
  display: flex;
  gap: 1rem;
}

@keyframes animateModal {
  from {
      top: -600px;
      opacity: 0;
  }
  to{
      top: 0;
      opacity: 1;
  }
}