@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl
  }
  h2 {
    @apply text-3xl
  } 
  h3 {
    @apply text-2xl
  }
  h4 {
    @apply text-xl
  }
  p{
    @apply text-sm text-default-text
  }

  form {
    @apply rounded-xl p-4
  }
  label {
    @apply mt-4
  }
  input, select, textarea {
    @apply m-1 rounded bg-card p-1
  }

}

@layer components {
  .icon {
    @apply text-default-text text-xl;
  }
  .btn {
    @apply hover:no-underline tracking-wider w-full text-center text-nav font-bold cursor-pointer uppercase px-4 py-2 rounded-md transition-colors block
  }
  .btn-blu {
    @apply  bg-blu-accent hover:bg-blu-accent-hover text-blu-text
  }
  .btn-grn {
    @apply  bg-grn-accent hover:bg-grn-accent-hover text-grn-text
  }
  
}

.btn-grn {
  border: 1px solid #00ff00;

}

.btn-blu {
  color: #a8cefd;
  background-color: #2841ff57;
  border: 1px solid #0051ff;
}

.btn-blu:hover {
  color: #a8cefd;
  background-color: #5e70ff57;
  border: 1px solid #0051ff;
}

.edit-overlay::before {
  content: '👆';
}

.edit-overlay:hover::before{
  content: 'Edit 👆';
}

.edit-overlay {
  font-weight: bold;
  position:absolute;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.edit-overlay:hover {
  font-size: 24px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.448);
  backdrop-filter: blur(2px);
  border-radius: 7px;
}



.loading-container {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  animation: rotate 2s linear infinite;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #3498db;
  margin: 2px;
  border-radius: 100%;
  position: absolute;
}

.dot1 {
  left: 20px;
  top: 0;
  animation-delay: -1s;
}

.dot2 {
  left: 20px;
  top: 20px;
  animation-delay: -0.5s;
}

@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}
